
   
        <div>
            <h1>SOMETHING ABOUT ME</h1>
            <p></p>
        </div>

        <div class="container" style="background-color:cadetblue">
            <div class="row">
                <div class="col-sm-6">
                    <h1>My BIO</h1>
                    <p>
                        My Name is Alex Greyling. I am a second year student studying at the University of Pretoria.
                        I am currently studying BCom Informatics. My degree is 3 years long but I also want to do my Honours.
                        <br /> <br />
                        I was born and raised in Pretoria. I went to Tygerpoort Primary school and to the Afrikaanse Hoër Seunskool
                        Highschool. I love playing sports and did almost all sports up untill grade 10.
                        <br /> <br />
                        Currently I enjoy cycling and running and love doing races in both categories. When it comes to culture like 
                        playing instruments or singing, I am not the best. I definitly am more of a sports person.
                        <br /> <br />
                        I hope to one day be able to do big cycling races and also have a stable job in the IT department as doing 
                        coding and working with people and building programs is my dream.
                    </p>
                </div>

                <div class="col-sm-6">
                    <h1>ME</h1>
                    <img src="~/Scripts/picture.jpg" alt="Image" style="height:600px;"/>
                </div>
            </div>
        </div>
   
